<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Svenssons Hantverk AB</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <script type="importmap">
        {
            "imports" : {
                "vue" : "https://unpkg.com/vue@3.5.28/dist/vue.esm-browser.js"
            },
            "integrity": { "https://unpkg.com/vue@3.5.28/dist/vue.esm-browser.js": "sha384-Q3gg1uvxzo7j5a5zJyKw57OkLMyOhl1sGmQxxn63S3lsr8Ki3ACSKKSvK8zG//7D"
        }
    }
    </script>
    <script type="module" src="app.js"></script>
</head>

<body>
    <div id="app">

        <header id="header">

            <div id="header-right-container">
                <img src="assets/logo.png" alt="Logo">

                <button id="previous-date-button">&lt;</button>
                <p id="date">{{ date }}</p>
                <button id="next-date-button">&gt;</button>
                <p>Ny bokning</p>
                <button id="new-booking-button">
                    <p> + </p>{{ newBooking }}
                </button>
            </div>

            <div id="dotted-lines">
            <img src="assets/dotted-vertical-line.png" alt="Dotted vertical line">
        </div>

            <div id="header-left-container">
                <div id="profession-container">
                    <button class="plumber">
                        <p>Rörmokare</p>
                        <img src="assets/plumber_icon.png" alt="plumber-img">
                    </button>
                    <button class="electrician">
                        <p> Elektriker</p>
                        <img src="assets/electrician_icon.png" alt="electrician_icon">
                    </button>
                    <button class="carpenter">
                        <p> Snickare</p>
                        <img src="assets/carpenter_icon.png" alt="carpenter_icon">
                    </button>
                    <button class=" painter">
                        <p> Målare </p>
                        <img src="assets/painter.png" alt="painter_icon">

                    </button>
                    <button class="mason">
                        <p> Murare </p>
                        <img src="assets/mason_icon.png" alt="mason_icon">
                    </button>
                </div>
            </div>

        </header>

        <main id="main-content">
            <div id="first-container">
                <div class="booking-category-selection">
                    <button id="sort-by-name">Namn</button>
                    <button id="sort-by-availability">Tillgänglighet</button>
                    <button id="sort-by-profession">Yrkeskategori</button>
                </div>

                <div class="booking-category-selection-filter">
                    <!-- FIX THE IMG HERE -->
                    <p>Namn</p>
                </div>

                <div id="main-employee-container">
                    <div id="one-employee-container" v-for="employee in result" :key="employee.id">


                        <div class="employee-professions" v-for="profession in employee.professions"
                            :key="profession.id">

                            <!-- Carpenter, Painter, Electrician, Mason, Plumber -->
                            <div class="profession-initials-div" v-if="profession === 'Carpenter'">
                                <p class="profession-initials">P</p>
                            </div>
                            <div class="profession-initials-div" v-if="profession === 'Plumber'">
                                <p class="profession-initials">R</p>
                            </div>
                            <div class="profession-initials-div" v-if="profession === 'Painter'">
                                <p class="profession-initials">Må</p>
                            </div>
                            <div class="profession-initials-div" v-if="profession === 'Electrician'">
                                <p class="profession-initials">E</p>
                            </div>
                            <div class="profession-initials-div" v-if="profession === 'Mason'">
                                <p class="profession-initials">Mu</p>
                            </div>

                            <!-- <div class="profession">{{ profession }}</div> -->
                        </div>

                        <div class="employee-name">
                            <div class="name">{{ employee.name }}</div>
                        </div>


                        <div class="date" v-for="date in employee.bookings" :key="date.id">
                            <div class="from"> {{ date.from }} - {{ date.to }}</div>
                        </div>


                        <div class="booking-container">
                            <div class="employee-bookings" v-for="booking in employee.bookings" :key="booking.id">
                                <div class="percentage">{{ booking.percentage }}</div>
                                <div class="status">{{ booking.status }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TEST DIV -->
            <div class="test-div">


            </div>

        </main>
    </div>
</body>

</html>