body {
    width: 1440px;
    height: 1024px;
}

/* ----------------------- HEADER CONTAINER ----------------------- */

#header,
#header-right-container,
#header-left-container {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    gap: 1rem;
}

#previous-date-button,
#next-date-button {
    width: 24px;
    height: 24px;
    background-color: white;
    border: none;
}

#new-booking-button {
    width: 40px;
    height: 40px;
}

.all-employees {
    display: flex;
    flex-direction: row;
    
}

#employee-professions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    height: 56px;
    width: 294px;
    font-family: Inter;
}

.profession {
    background-color: #1A3A5F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.employee-bookings {
    border: 1px solid black;
    width: 35px;
    height: 45px;
    border-radius: 5px;
}